{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register Form</title>
    <link rel="stylesheet" href="{% static '/css/login-signup.css'%}">

    <!---we had linked our css file----->
</head>

<body>
    <div class="full-page">
        <div class="navbar">
            <div>
                <a href='website.html'>HarryGuestHouse</a>
            </div>
            <nav>
                <ul id='MenuItems'>


                </ul>
            </nav>
        </div>
        <div class='login-page'>
            <div class="form-box">
                <div class='button-box'>
                    <div id='btn'></div>
                    <button type='button' class='toggle-btn'>Register</button>
                </div>
                <form action="/accounts/register/" method="post"  id='form-grp' class='input-group-register'>
                    {% csrf_token %}
                    <input type='text' name="fname" class='input-field' placeholder='First Name' required>
                    <input type='text'  name="lname" class='input-field' placeholder='Last Name ' required>
                    <input type='text' name="Username" class='input-field' placeholder='Username' required>
                    <input type='password' name="password" class='input-field' placeholder='Enter Password' required>
                    <input type='password' name="cpassword" class='input-field' placeholder='Confirm Password' required>
                    <button type='submit' class='submit-btn'>Create ACcount</button>
                    <br>
                    {% for message in messages %}
                    <label>{{message}}</label>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
    <!-- <script>
        var x = document.getElementById('login');
        var y = document.getElementById('register'); 
        var z = document.getElementById('btn'); 
        function register() {
            x.style.left = '-400px';
            y.style.left = '50px';
            z.style.left = '110px';
        }
        function login() {
            x.style.left = '50px';
            y.style.left = '450px';
            z.style.left = '0px';
        }
    </script>
    <script>
        var modal = document.getElementById('login-form');
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script> -->
</body>

</html>